@model Proyecto.Models.proyectosModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>proyectosModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreproyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreproyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcionProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionProyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tareaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tareaID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
